.faq {
    border-radius: 15px;
    overflow: hidden;
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);




}

.faq_title {
    // padding-left: 150px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-poppins;
    background: $tertiary-color;
    animation: slide 12s ease-in-out infinite;

    font-weight: bold;

    @keyframes slide {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @include respond-to(mobile) {
        flex-direction: column;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;

    }

}

.caret-down {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.faq_answer-bloc {
    background-color: $primary-color;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.faq_answer {
    color: $secondary-color;
    padding: 25px;
}

.faq_bloc.active .caret-down {
    transform: rotate(180deg);
}