// _variables.scss
// Couleurs
$primary-color: #333333; // texte
$secondary-color: #f5f5f5; // background
$tertiary-color: #ff914d; // logo & icons

// Tailles de police
$primary-font-size: 32px;
$secondary-font-size: 24px;
$tertiary-font-size: 16px;

// Familles de polices
$font-poppins: "Poppins", sans-serif;
$font-montserrat: "Montserrat", sans-serif;